<!DOCTYPE html>
<html>
	<head>
		<title>Microposts On Steroids</title>
		{{
		response.files.append(URL('static', 'css/skelton.css'))
		response.files.append(URL('static', 'css/custom.css')) <!-- Add this line. -->		
		}}
		{{include 'web2py_ajax.html'}}	
	</head>
	<body>
		<header class="container">
			<div class="six columns alpha">
				<h1>Tukker.me</h1>
			</div>
			<div class="ten columns omega">
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Privacy</a></li>
					</ul>
				</nav>			
			</div>
		</header>
		<section>
			<div class="six columns alpha">
				<h1>Messages With 300 Chars</h1>
				<p>
					Welcome to <strong>Tukker.Me</strong>, the new way to 
					tell your friends and the world what you are thinking.
				</p>	
			</div>
			<div class="ten columns omega">
				<a href="#" class="button">Register</a>
			</div>
		</section>
		<footer class="container">
			<nav class="sixteen columns alpha omega">
				<a href="#">About</a>
				 · 
				<a href="#">Terms</a>
				 · 
				<a href="#">Contact</a>
			</nav>
		</footer>
	</body>
</html>
