<!DOCTYPE html>
<html>
	<head>
		<title>Microposts On Steroids</title>
		{{response.files.append(URL('static', 'css/skelton.css'))}}
		{{include 'web2py_ajax.html'}}	
	</head>
	<body>
		<header class="container">
			<div class="six columns alpha">
				<h1>Tukker.me</h1>
			</div>
			<div class="ten columns omega">
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Privacy</a></li>
					</ul>
				</nav>			
			</div>
		</header>
		<h1>Messages With 300 Chars</h1>
		<p>
			Welcome to <strong>Tukker.Me</strong>, the new way to 
			tell your friends and the world what you are thinking.
		</p>	
	</body>
</html>
