<!DOCTYPE html>
<html>
	<head>
		<title>Microposts On Steroids</title>
		{{
		response.files.append(URL('static','css/skeleton.css'))
		response.files.append(URL('static', 'css/superfish.css'))
		response.files.append(URL('static', 'css/custom.css'))		
		}}
		{{include 'web2py_ajax.html'}}	
	</head>
	<body>
		<header class="container">
			<div class="six columns alpha">
				<h1>Tukker.me</h1>
			</div>
			<div class="ten columns omega">
				<nav>
					<ul class="sf-menu">
						<li><a href="{{=URL(c="default", f="index")}}">Home</a></li>
						<li><a href="{{=URL(c="default", f="help")}}">Help</a></li>
						<li><a href="{{=URL(c="default", f="user")}}">Login</a></li>
						<li><a href="{{=URL(c="default", f="privacy")}}">Privacy</a></li>
					</ul>
				</nav>			
			</div>
		</header>
		<section>
			<div class="main">
				{{include}}	
			</div>
		</section>
		<footer class="container">
			<nav class="sixteen columns alpha omega">
				<a href="{{=URL(c="default", f="about")}}">About</a>
				 · 
				<a href="{{=URL(c="default", f="terms")}}">Terms</a>
				 · 
				<a href="{{=URL(c="default", f="contact")}}">Contact</a>
			</nav>
		</footer>
	</body>
</html>
