<!DOCTYPE html>
<html>
	<head>
		<title>{{=response.title or request.application}}</title>
		{{
		response.files.append(URL('static','css/skeleton.css'))
		response.files.append(URL('static', 'css/superfish.css'))
		response.files.append(URL('static', 'css/custom.css'))		
		}}
		{{include 'web2py_ajax.html'}}	
	</head>
	<body>
		<header class="container">
			<div class="six columns alpha">
				<h1>Tukker.me</h1>
			</div>
			<div class="ten columns omega">
				<nav>
        			{{=MENU(response.menu, _class='sf-menu')}}
      			</nav>
    		</div>
		</header>
		<section id="main" class="container">
    		<div class="flash">{{=response.flash or ''}}</div>
		</section>
		<footer class="container">
			<nav class="sixteen columns alpha omega">
				<a href="{{=URL(c="default", f="about")}}">About</a>
				 · 
				<a href="{{=URL(c="default", f="terms")}}">Terms</a>
				 · 
				<a href="{{=URL(c="default", f="contact")}}">Contact</a>
			</nav>
		</footer>
	</body>
</html>
