header h1 {
	font-family: "Ubuntu Sans",Helvetica,Arial,sans-serif;
	text-shadow: 0 1px rgba(255, 255, 255, 0.75);
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 28px;
	color: white;
	background: black;
	line-height: 34px;
	padding: 0 0 0 5px;
	margin-right: 197px;
}

a, a:visited {
	color: #009BC2
}

#register-button {margin: 110px 0 0 10px;}

header.container, footer.container {padding: 20px;}

body {
	background-color: #abcdef;
}

.container {
	background-color: #ffffff;
}

body > section.container {
	padding: 0 20px;
}

.w2p_fw {padding: 5px;}
